body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f7f7f9;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 2%;
  color: #6070ff;
}

.menu {
  display: none;
  visibility: hidden;
}

.logo {
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-size: 18px;
}

.intro {
  display: flex;
  flex-flow: column nowrap;
  padding: 15% 1.2rem;
  margin: 0;
  background-image: url("../images/bg_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-style: normal;
}

.title {
  line-height: 52px;
}

.title h1 {
  margin: 8px 0;
  font-size: 40px;
  font-weight: bold;
}

.headline {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 6px 0;
  color: #344563;
}

.connect {
  color: #6070ff;
  font-style: normal;
  font-weight: 300;
  margin: 12px 0;
  font-size: 16px;
}

.icons {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 25px;
  align-items: center;
  list-style: none;
  margin: 12px 0;
}

ul {
  padding: 1px;
}

.btn {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 12px 0;
}

.btn-enable {
  background: #fff;
  border: 1px solid #7f8cff;
  color: #6070ff;
}

.btn-enable:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

.btn-enable:active {
  background: #2230d2;
  color: #fff;
}

.disable {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

.tags {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.tag {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
}

.tag a {
  text-decoration: none;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.frame2 {
  display: flex;
  gap: 26px;
  justify-items: start;
}

.roles {
  display: flex;
  justify-items: flex-end;
  gap: 26px;
}

.role {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.client {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #172b4d;
  margin: 12px 0;
}

.card-img {
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
}

.card {
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 44px 0;
  padding: 16px;
  width: 327px;
  height: auto;
}

.works-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  flex-flow: column nowrap;
  padding: 15% 1.2rem 1.2rem 5%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-style: normal;
}

.about-myself {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  background: #fff;
  margin: 0;
  border-radius: 0 96px 0 0;
  padding: 70px 0;
}

.skills-list {
  padding: 4px 12px;
  list-style: none;
  margin: 5px 0;
}

.skill {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  margin: 12px 0;
  padding: 18px 0;
  border-bottom: 1px solid #dfe1e6;
}

.dropdown {
  padding: 2px 0;
  border: none;
}

.icon {
  float: right;
  width: 12px;
  padding-top: 8px;
  height: 12px;
}

.languages {
  list-style: none;
  padding: 24px 0;
}

.language {
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0;
  padding: 12px;
  display: flex;
  justify-items: center;
}

.ellipse-logo {
  width: 48px;
  height: 48px;
}

.lang {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  align-self: center;
  text-decoration: none;
  padding: 0 12px;
}

.footer-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 30px;
  border-radius: 90px 0 0 0;
  background-color: #6070fe;
  padding-bottom: 30px;
  background-image: url("../images/contact-section-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
}

.contact-me {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 100px 0 0 0;
}

.contact-info {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  padding: 8px 24px;
}

.contact {
  margin: 1px 8px;
  padding: 8px;
}

.contact-form input {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 12px;
  height: 48px;
  width: 327px;
  padding: 8px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #172b4d;
  border: 1px solid #cfd8dc;
}

.contact-form textarea {
  background: #fff;
  border-radius: 8px;
  height: 170px;
  width: 327px;
  padding: 8px;
  border: 1px solid #cfd8dc;
}

.btn-contact {
  color: #6070ff;
  background: #fff;
  border: none;
  border-radius: 8px;
}

@media screen and (min-device-width: 992px) {
  
  .hamburger-btn {
    visibility: hidden;
    display: none;
  }

  .menu {
    visibility: visible;
    display: flex;
    flex-flow: row;
    list-style: none;
  }

  .menu-item {
    text-decoration: none;
    padding: 12px;
    margin: 0 10px;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  header {
    padding: 1px 6.5rem;
    background-color: #fff;
  }

  .intro {
    background-color: #fff;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-style: normal;
    padding: 15% 15%;
    font-size: 20px;
    border-radius: 0 0 0 150px;
  }

  .title {
    line-height: 52px;
  }

  .title h1 {
    margin: 8px 0;
    font-size: 48px;
    font-weight: bold;
  }

  .headline {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 6px 0;
    color: #344563;
  }

  .card {
    width: auto;
    border-radius: 24px;
    margin: 5%;
  }

  .card-body {
    display: flex;
    flex-flow: row nowrap;
  }

  .card-info {
    padding: 1rem 2.6rem;
  }

  .card-img {
    width: auto;
    height: auto;
    left: 16px;
    top: 16px;
  }

  .right {
    order: 2;
  }

  .about-myself {
    grid-template-columns: 45% auto;
    grid-gap: 20px;
    padding: 142px 165px;
  }

  .profile {
    padding: 0;
  }

  .languages {
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    padding: 0;
  }

  .language {
    flex-flow: column;
    align-content: flex-start;
    margin: 12px;
    height: 120px;
    width: 122px;
    border-radius: 8px;
  }

  .lang {
    padding: 8px 0 0 0;
    font-size: 15px;
    text-align: left;
    align-self: start;
  }

  .ellipse-logo {
    padding: 16px 14px;
  }

  .footer-container {
    padding-left: 12%;
    padding-right: 12%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-image: url("../images/contact-form-background-shapes.png");
  }

  .contact-form input {
    height: 48px;
    width: 447px;
    border-radius: 2px;
  }

  .contact-form textarea {
    height: 170px;
    width: 447px;
    border-radius: 2px;
  }

  .contact-info {
    width: 570px;
    text-align: center;
  }

  .contact-form {
    width: 570px;
  }
}
